<mat-toolbar style="background-color: #ef81b4">
  <div class="logonav">
    <img
      src="https://i.pinimg.com/736x/6e/e0/37/6ee037debbedd202d6c68df93bf2cbc4.jpg"
    />
  </div>
  <span class="toolbar-text1">Cat breed vote</span>

  <div class="containernav">
    <div class="logonav">
      <img
        src="https://i.pinimg.com/564x/9f/27/e3/9f27e39d3547b37015da81cb8e77f911.jpg"
      />
      <a class="toolbar-text" onclick="routerLink" href="/main">Home</a>
    </div>
    <div class="logo1">
      <img
        src="https://i.pinimg.com/564x/bc/dd/16/bcdd16b323163d28f6f5e6f0384783b3.jpg"
      />
      <a class="toolbar-text" onclick="routerLink" href="/login">Log out</a>
    </div>
  </div>
</mat-toolbar>
<div class="vote-con">
    <div class="h1">
    <h1>User Profile</h1>
    </div>
    <div class="img-con">
        <div class="item">
            <img class="logo" src="https://i.pinimg.com/564x/5d/3d/29/5d3d29d4ddefdb0feb67cf84ebe5c956.jpg" alt="image">
            <div class="detail">
                <span class="Username">Sasithon_Nutty</span>
                <div class="user-info">
                    <img class="icon_img" src="https://i.pinimg.com/564x/3d/cb/80/3dcb80f6eae47eb1cc138440f60d7f49.jpg">
                    <span class="pic_count">5 Photo</span>
                </div>
                <!-- <span class="follow">Follow Us : </span> -->
            </div>
            <div class="buttons">
                <button mat-stroked-button  class="custom-button">Upload New Photo</button>
                <button mat-flat-button  class="custom-button">Edit Profile</button>
            </div>
        </div>
    </div>
    <hr style="margin-top: 20px; border: 1px solid #e06cc1; border-radius: 20px;">
    <!-- <h3 style="padding: 0 20px;">OR</h3> -->

    <div class="item">
        <div class="user-p">
            <img class="icon_u" src="https://i.pinimg.com/564x/10/4d/76/104d766b5acdf782fd224ab58a1c5326.jpg">
            <span class="pic_co">Picture by Sasithon_Nutty</span>
        </div>
        <div class="buttons">
            <button class="buttons" mat-button color="accent">
                <mat-icon>delete</mat-icon>
                Delete
            </button>
        </div>
    </div>
    <div class="image_user">
        <div class="container">
            <div class="pro">
                <!-- <p>Sasithon_Nutty</p> -->
            </div>
            <div class="picvote1">
                <div class="image-wrapper">
                    <img src="https://i.pinimg.com/564x/f7/46/c9/f746c97f8bfae89bb6844b1f23f93bf6.jpg" alt="ภาพที่ 1">
                </div>
                <div class="image-wrapper">
                    <img src="https://i.pinimg.com/564x/7a/c7/32/7ac73263a771eb526b4b363457a4ae00.jpg" alt="ภาพที่ 2">
                </div>
                <div class="image-wrapper">
                    <img src="https://i.pinimg.com/564x/fa/e0/ef/fae0eff0dff0614ed90f54ecdacba441.jpg" alt="ภาพที่ 3">
                </div>
                <div class="image-wrapper">
                    <img src="https://i.pinimg.com/736x/62/b6/d6/62b6d6cb4c353ca269bef4823e9ac3f6.jpg" alt="ภาพที่ 4">
                </div>
                <div class="image-wrapper">
                    <img src="https://i.pinimg.com/564x/d7/3d/1e/d73d1e02f7f7ae9bbc58e6bf79c0701c.jpg" alt="ภาพที่ 5">
                </div>
            </div>
        </div>
    </div>
</div>